.events-validity-block table tr.hidden_row {
  display: none;
}
.events-validity-block table.styled {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.events-validity-block table.styled caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
.events-validity-block table.styled tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
.events-validity-block table.styled tr.more_button_row {
  text-align: center;
}
.events-validity-block table.styled tr th,
.events-validity-block table.styled tr td {
  padding: 0.625em;
  text-align: center;
  border: none;
}
.events-validity-block table.styled tr th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.events-validity-block table.styled tr th span.sort-by {
  display: block;
  width: 100%;
  padding-right: 18px;
  position: relative;
}
.events-validity-block table.styled tr th span.sort-by:before, .events-validity-block table.styled tr th span.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
.events-validity-block table.styled tr th span.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
.events-validity-block table.styled tr th span.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}
@media screen and (max-width: 600px) {
  .events-validity-block table.styled {
    border: 0;
  }
  .events-validity-block table.styled caption {
    font-size: 1.3em;
  }
  .events-validity-block table.styled thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .events-validity-block table.styled tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  .events-validity-block table.styled tr.more_button_row {
    text-align: center;
  }
  .events-validity-block table.styled tr.more_button_row td {
    text-align: center;
  }
  .events-validity-block table.styled tr.more_button_row td::before {
    display: none;
  }
  .events-validity-block table.styled tr td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: left;
  }
  .events-validity-block table.styled tr td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }
  .events-validity-block table.styled tr td:last-child {
    border-bottom: 0;
  }
}

/*# sourceMappingURL=events-validity.css.map */
