.events-validity-block {

    table {

        tr {

            &.hidden_row {
                display: none;
            }
        }

        &.styled {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;

            caption {
                font-size: 1.5em;
                margin: .5em 0 .75em;
            }

            tr {
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                padding: .35em;


                &.more_button_row {
                    text-align: center;
                }

                th,
                td {
                    padding: .625em;
                    text-align: center;
                    border: none;
                }

                th {
                    font-size: .85em;
                    letter-spacing: .1em;
                    text-transform: uppercase;


                    span.sort-by {
                        display: block;
                        width: 100%;
                        padding-right: 18px;
                        position: relative;

                        &:before,
                        &:after {
                            border: 4px solid transparent;
                            content: "";
                            display: block;
                            height: 0;
                            right: 5px;
                            top: 50%;
                            position: absolute;
                            width: 0;
                        }

                        &:before {
                            border-bottom-color: #666;
                            margin-top: -9px;
                        }

                        &:after {
                            border-top-color: #666;
                            margin-top: 1px;
                        }
                    }

                }
            }
        }

    }

    @media screen and (max-width: 600px) {
        table.styled {
            border: 0;

            caption {
                font-size: 1.3em;
            }

            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;

                &.more_button_row {
                    text-align: center;

                    td {
                        text-align: center;

                        &::before {
                            display: none;
                        }
                    }
                }

                td {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    font-size: .8em;
                    text-align: left;

                    &::before {
                        content: attr(data-label);
                        font-weight: bold;
                        text-transform: uppercase;
                        display: block;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }


        }

    }


}